# import

In [132]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [133]:
df_clean_numerical = df_clean

In [134]:
df_clean_numerical = df_clean_numerical.drop(labels=["longitude,latitude","longitude","latitude","ocean_proximity"],axis=1)

In [135]:
df_clean_numerical_test = df_clean_numerical.copy()

In [136]:
scaler = MinMaxScaler()

In [137]:
df_clean_numerical[features_test] = scaler.fit_transform(df_clean_numerical[features_test])

In [138]:
df_clean_numerical

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,num_ocean_proximity
0,0.274510,0.142596,0.198820,0.028310,0.077303,0.068530,66900.0,1.0
1,0.313725,0.071298,0.098246,0.002186,0.007072,0.076930,87500.0,1.0
2,0.352941,0.065218,0.126959,0.039970,0.099671,0.053454,56100.0,1.0
3,0.313725,0.018161,0.026696,0.009194,0.018914,0.079378,85700.0,1.0
4,0.509804,0.004248,0.005122,0.003139,0.005263,0.109198,45000.0,1.0
...,...,...,...,...,...,...,...,...
10826,1.000000,0.028132,0.032128,0.015108,0.027961,0.196294,50800.0,2.0
10827,0.196078,0.080200,0.095297,0.037503,0.078454,0.136591,73200.0,2.0
10828,1.000000,0.056240,0.060841,0.025282,0.060362,0.128081,111400.0,2.0
10829,0.352941,0.067813,0.085364,0.036242,0.078289,0.102054,85800.0,2.0
10830,1.000000,0.046141,0.046252,0.022451,0.044079,0.173432,94600.0,2.0

In [139]:
df_clean = pd.read_csv ('dataframeclean.csv')

# Baseline model

In [140]:

features = [
 'longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'num_ocean_proximity']

In [141]:
# Choose your feature and your target
X = df_clean[features]
y = df_clean['median_house_value']

# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=3)

# Choose your model
model = LinearRegression()

# Fit the model with the train set
model.fit(X_train, y_train)

# Evaluate the model with the test set
baseline_score = model.score(X_test, y_test)
baseline_score

0.6939051619388996

# Itteration with min max standard

In [142]:
features_test = [
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income']

In [144]:
#without standardisation
# Choose your feature and your target
X = df_clean_numerical_test[features_test]
y = df_clean_numerical_test['median_house_value']

# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=3)

# Choose your model
model = LinearRegression()

# Fit the model with the train set
model.fit(X_train, y_train)

# Evaluate the model with the test set
baseline_score = model.score(X_test, y_test)
baseline_score

0.6307734885004139

In [143]:
#without standardisation , it's not usefull for this features selection
# Choose your feature and your target
X = df_clean_numerical[features_test]
y = df_clean_numerical['median_house_value']

# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=3)

# Choose your model
model = LinearRegression()

# Fit the model with the train set
model.fit(X_train, y_train)

# Evaluate the model with the test set
baseline_score = model.score(X_test, y_test)
baseline_score

0.6307734885004137

# feature engineering

In [145]:
features_test

['housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income']

In [146]:
features_descreasing_score = []
for c in range (0,8) : 
    for i in features :
        features_test = features.copy()
        features_test.remove(i)
        X = df_clean[features_test]
        y = df_clean['median_house_value']
    
        # Splitting the data
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=c)
        
        # Choose your model
        model = LinearRegression()
        
        # Fit the model with the train set
        model.fit(X_train, y_train)
        
        # Evaluate the model with the test set
        score_test = model.score(X_test, y_test)
        print(i , score_test)
        if score_test < baseline_score :
            features_descreasing_score.append(i)
    features_descreasing_score
    print(len(features_descreasing_score))
    features_descreasing_score = []

longitude 0.6068434825008155
latitude 0.5966179342471947
housing_median_age 0.6562981957825306
total_rooms 0.6676832545676616
total_bedrooms 0.6656381086746957
population 0.6484760619079627
households 0.6655232534323121
median_income 0.43618019406513886
num_ocean_proximity 0.6668639007654589
3
longitude 0.5956787659714393
latitude 0.5833290747261562
housing_median_age 0.6427488738460234
total_rooms 0.6529644321811042
total_bedrooms 0.6537736851345255
population 0.6292749228045689
households 0.650517156439939
median_income 0.4183198017952017
num_ocean_proximity 0.6530694495852201
4
longitude 0.6457614038935102
latitude 0.63486448582215
housing_median_age 0.6887004962981914
total_rooms 0.6984413447612486
total_bedrooms 0.69705835951723
population 0.6752546908338977
households 0.6968576981636205
median_income 0.4417181053996666
num_ocean_proximity 0.6992428147022464
1
longitude 0.6419489161268681
latitude 0.6305214638368273
housing_median_age 0.6844660341778039
total_rooms 0.6931562717083352
total_bedrooms 0.6906061329231483
population 0.6747797787866345
households 0.693111436873778
median_income 0.41325761711674014
num_ocean_proximity 0.6939166824452406
2
longitude 0.6161687319813787
latitude 0.6038467616736243
housing_median_age 0.6613356558464818
total_rooms 0.6738372370074073
total_bedrooms 0.6720626883419394
population 0.649171274614095
households 0.6718225308389737
median_income 0.43168429000201414
num_ocean_proximity 0.6741200711348759
3
longitude 0.6436362959262523
latitude 0.6361269150069727
housing_median_age 0.6859807390182265
total_rooms 0.696262183791924
total_bedrooms 0.6949349754147756
population 0.6732523411340603
households 0.694509702843327
median_income 0.41743882683406464
num_ocean_proximity 0.6971606840883491
1
longitude 0.6104545708867902
latitude 0.6020422439416235
housing_median_age 0.6550078077342054
total_rooms 0.6666668997854346
total_bedrooms 0.6661540177319005
population 0.658104477563864
households 0.6660500109391845
median_income 0.40301494518849923
num_ocean_proximity 0.6672941296780122
3
longitude 0.6073891774742071
latitude 0.6009974696691079
housing_median_age 0.650054270967559
total_rooms 0.6631515252964313
total_bedrooms 0.6598520433608419
population 0.6637206630001786
households 0.6697338583197048
median_income 0.3967208984710653
num_ocean_proximity 0.6643353133076011
3