# import

In [16]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn import model_selection

In [17]:
df_clean = pd.read_csv ('dataframeclean.csv')

In [18]:
df_clean

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,bins_latitude,bins_housing_median_age,bins_total_rooms,bins_total_bedrooms,bins_population,bins_households,bins_median_income
0,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND,"(36.573, 37.917]","(0.949, 8.286]","(-33.314, 5622.286]","(-4.208, 888.857]","(-13.302, 2331.857]","(-3.356, 767.143]","(0.485, 2.571]"
1,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN,"(32.531, 33.884]","(0.949, 8.286]","(-33.314, 5622.286]","(-4.208, 888.857]","(-13.302, 2331.857]","(-3.356, 767.143]","(6.714, 8.786]"
2,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND,"(36.573, 37.917]","(22.857, 30.143]","(-33.314, 5622.286]","(-4.208, 888.857]","(-13.302, 2331.857]","(-3.356, 767.143]","(0.485, 2.571]"
3,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN,"(33.884, 35.229]","(30.143, 37.429]","(-33.314, 5622.286]","(-4.208, 888.857]","(-13.302, 2331.857]","(-3.356, 767.143]","(0.485, 2.571]"
4,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND,"(36.573, 37.917]","(15.571, 22.857]","(-33.314, 5622.286]","(-4.208, 888.857]","(-13.302, 2331.857]","(-3.356, 767.143]","(2.571, 4.643]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16505,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,93800.0,INLAND,"(39.261, 40.606]","(15.571, 22.857]","(-33.314, 5622.286]","(-4.208, 888.857]","(-13.302, 2331.857]","(-3.356, 767.143]","(2.571, 4.643]"
16506,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,103100.0,NEAR BAY,"(37.917, 39.261]","(44.714, 52.0]","(-33.314, 5622.286]","(-4.208, 888.857]","(-13.302, 2331.857]","(-3.356, 767.143]","(2.571, 4.643]"
16507,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,192600.0,INLAND,"(37.917, 39.261]","(15.571, 22.857]","(-33.314, 5622.286]","(-4.208, 888.857]","(-13.302, 2331.857]","(-3.356, 767.143]","(2.571, 4.643]"
16508,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,153500.0,<1H OCEAN,"(33.884, 35.229]","(37.429, 44.714]","(-33.314, 5622.286]","(-4.208, 888.857]","(2331.857, 4660.714]","(767.143, 1532.286]","(2.571, 4.643]"
16509,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,81100.0,NEAR OCEAN,"(40.606, 41.95]","(30.143, 37.429]","(-33.314, 5622.286]","(-4.208, 888.857]","(-13.302, 2331.857]","(-3.356, 767.143]","(0.485, 2.571]"

# Baseline model

In [19]:
features = [
 'longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income']

In [20]:
# Choose your feature and your target
X = df_clean[features]
y = df_clean['median_house_value']

# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=3)

# Choose your model
model = LinearRegression()

# Fit the model with the train set
model.fit(X_train, y_train)

# Evaluate the model with the test set
baseline_score = model.score(X_test, y_test)
baseline_score

0.639149507560891

## Cross Validation

In [22]:
scores=model_selection.cross_val_score(model,X ,y ,  cv=5)
print("score",scores)
print("moyenne :%0.03f , deviation: :%0.03f" % (scores.mean(), scores.std()))

score [0.65030626 0.6289704  0.6529271  0.63781955 0.62927456]
moyenne :0.640 , deviation: :0.010

# Ittération 2